Flask==2.3.3
opencv-python==4.8.1.78
numpy==1.24.3
tensorflow==2.13.0
cvzone==1.5.6
requests==2.31.0
firebase-admin==6.2.0
flask-cors==4.0.0
python-dotenv==1.0.0
gunicorn==21.2.0
Pillow==10.0.1
Werkzeug==2.3.7
protobuf==3.20.3
setuptools==68.2.2