<footer>

    <div class="leftright">
        <div class="left">
            <a id="supportMeButton" class="textButton" href="/feedback">
                <i class="fa-solid fa-comment"></i>
                <div class="text">Feedback</div>
            </a>
            <a href="https://github.com/lokesh8577" class="textButton" target="_blank" rel="noreferrer noopener">
                <i class="fa-brands fa-github"></i>
                <div class="text">Github</div>
            </a>
            <a href="https://www.linkedin.com/in/lokesh-prajapat-354756279/" class="textButton" target="_blank"
                rel="noreferrer noopener">
                <i class="fa-brands fa-linkedin"></i>
                <div class="text">Linkedin</div>
            </a>
            <a href="https://x.com/Lokesh85772" class="textButton" target="_blank" rel="noreferrer noopener">
                <i class="fa-brands fa-twitter"></i>
                <div class="text">Twitter</div>
            </a>
            <a href="https://www.instagram.com/lokesh_prajapat_m5_cs/" class="textButton" target="_blank"
                rel="noreferrer noopener">
                <i class="fa-brands fa-instagram"></i>
                <div class="text">Instagram</div>
            </a>
            <a href="https://www.facebook.com/profile.php?id=61575659804732" class="textButton" target="_blank"
                rel="noreferrer noopener">
                <i class="fa-brands fa-facebook"></i>
                <div class="text">Facebook</div>
            </a>
            <a href="/terms" class="textButton" target="_blank" rel="noreferrer noopener">
                <i class="fas fa-fw fa-file-contract"></i>
                <div class="text">Terms</div>
            </a>
            <a href="/security" class="textButton" target="_blank" rel="noreferrer noopener">
                <i class="fas fa-fw fa-shield-alt"></i>
                <div class="text">Security</div>
            </a>
            <a href="/privacy" class="textButton" target="_blank" rel="noreferrer noopener">
                <i class="fas fa-fw fa-lock"></i>
                <div class="text">Privacy</div>
            </a>
        </div>
        <div class="right">

            <button class="currentVersion textButton">
                <i class="fas fa-fw fa-code-branch"></i>
                <div class="text">v1.0.1</div>
                <key id="newVersionIndicator" class="hidden">new</key>
            </button>
        </div>
    </div>
</footer>